---
---

@import "../_sass/gallery.scss";
@import "../_sass/navbar.scss";
@import "../_sass/footer.scss";

body {
    max-width: 100dvw;
    min-height: 100dvh;
    padding: 0;
    margin: 0;

    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
}
