<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="./assets/main.css" />

        <title>{{ title }}</title>
    </head>
    <body>
        {% include navbar.html %}
        <main>{{ content }}</main>
        {% include footer.html %}
    </body>

    <script src="./assets/gallery-sorter.js"></script>
    <script>
        // Get the gallery and images
        const galleries = [];
        const gallerieElemnts = Array.from(
            document.querySelectorAll(".gallery")
        );

        // Loop through the galleries and add them to the array
        for (i = 0; i < gallerieElemnts.length; i++)
            galleries.push({
                container: gallerieElemnts[i],
                images: Array.from(gallerieElemnts[i].children),
            });

        // Hide the gallery while we sort it
        for (gallery of galleries)
            gallery.container.classList.add("gallery-loading");

        // When the window is resized, sort the gallery
        window.addEventListener("resize", function (event) {
            for (gallery of galleries) {
                gallery.container.classList.add("gallery-loading");
                sortGallery(gallery.container, gallery.images);
            }
        });

        // When we load the page, sort the gallery
        window.addEventListener("load", function (event) {
            for (gallery of galleries)
                sortGallery(gallery.container, gallery.images);
        });
    </script>
</html>
