<!DOCTYPE html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css" />

        <title>{{ page.title }}</title>
        <script defer src="{{ site.baseurl }}/assets/gallery-sorter.js"></script>
    </head>
    <body class="{{ page.pageName }}">
        {% include navbar.html %}
        <main>{{ content }}</main>
        {% include footer.html %}
    </body>
    <script> 
        window.addEventListener('beforeunload', function () {
            document.body.querySelector('main').classList.add('unloading');
        });
    </script>
</html>
