nav.main {
    --padding: 1rem;
    background: var(--background-color);
    
    font-size: 1.2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: var(--padding) 5rem var(--padding) var(--padding);
    text-transform: capitalize;

    position: sticky;
    top: 0;

    a:first-child {
        margin-right: auto;
        font-size: 2rem;
    }

    a {
        text-decoration: none;
        color: #000;
    }
}
