nav.main {
    --padding: 1rem;
    background: var(--background-color);
    
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    padding: var(--padding);

    box-shadow: 0rem 0rem 3rem -1rem rgba(0, 0, 0, 0.2);

    position: sticky;
    top: 0;
    z-index: 100;

    button {
        background: none;
        border: none;
        font-size: 1em;
    }

    ul {
        list-style: none;
        display: flex;
        visibility: hidden;
        
        align-items: center;
        flex-direction: column;
        position: fixed;
        z-index: 99;
        background: var(--background-color);
        top: 4.3rem;
        right: 0;
        padding: 2rem;
        margin: 0;
        gap: 1rem;

        box-shadow: -1rem 1rem 3rem -1.5rem rgba(0, 0, 0, 0.2);

        &[aria-expanded="true"] {
            visibility: visible;
        }

    }

    & > a {
        margin-right: auto;
        font-size: 2rem;
    }

    a {
        text-decoration: none;
        color: var(--text-color);
    }
}

@media screen and (min-width: 1024px) {
    nav.main {
        padding: var(--padding) 5rem var(--padding) 2rem;
        
        ul {
            visibility: visible;
            flex-direction: row;
            position: static;
            gap: 2rem;
            padding: 0;
        }

        .navbar-menubutton {
            display: none;
        }
    }
}